body
{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;
    background-color:#89ABE3 ;
}
h1
{
    color:maroon;
    color:black;
    font-weight: bolder;
    text-align: center;
    font-size: 36px;
    margin-top: -10px;
}
.grid{
    background-color:#EA738D;
    border: solid black 1px;
    box-sizing: border-box;
    display: flex;
}
.grid:hover
{
    background-color: black;
}

#gridContainer
{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 500px;
    height: 500px;
}
button
{
    display: flex;
}
.button-container
{
    display: flex;
    justify-content: space-evenly;
}
